.picto-shape-circle {
  border-radius: 50%;
}
.picto-shape-squared {
  border-radius: var(--picto-radius-xs, 0.25rem);
}
.picto-shape-rounded {
  border-radius: var(--picto-radius-lg, 1.75rem);
}
.picto-shape-none {
  border-radius: var(--picto-radius-none, 0) !important;
}
