@use './utils/reset-margins';
@use './utils/border-box';
@use './variables/text-tokens';

$text-color-names:
  'light', 'dark', 'primary', 'accent', 'tonal', 'error', 'success', 'info',
  'warning', 'neutral';

@mixin text-colors {
  @each $name in $text-color-names {
    &.picto-text-#{$name} {
      color: var(--picto-text-#{$name});
    }
  }
}

@mixin apply-text-style($name) {
  font-size: var(--picto-text-#{$name});
  line-height: var(--picto-text-#{$name}-line-height);
  font-weight: var(--picto-text-#{$name}-weight);
  letter-spacing: var(--picto-text-#{$name}-tracking);
}

@mixin text-align($align) {
  .picto-text-#{$align} {
    text-align: $align;
  }
}

html {
  font-size: 16px;
}

html,
body,
*,
*::before,
*::after {
  @extend %border-box;
}

html,
body {
  @extend %reset-margins;
}

body {
  font-family: var(--picto-font-sans);
  background-color: var(--picto-color-white);
  color: var(--picto-color-black);

  .picto-theme-dark {
    background-color: var(--picto-color-black);
    color: var(--picto-color-white);
  }

  .picto-theme-light {
    background-color: var(--picto-color-white);
    color: var(--picto-color-black);
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
.picto-text-display-lg,
.picto-text-display-md,
.picto-text-display-sm,
.picto-text-headline-lg,
.picto-text-headline-md,
.picto-text-headline-sm,
.picto-text-title-lg,
.picto-text-title-md,
.picto-text-title-sm,
.picto-text-body-lg,
.picto-text-body-md,
.picto-text-body-sm {
  @include text-colors;
}

$heading-map: (
  h1: 'display-lg',
  h2: 'display-md',
  h3: 'display-sm',
  h4: 'headline-lg',
  h5: 'headline-md',
  h6: 'headline-sm',
);

@each $name, $token in text-tokens.$text-styles {
  .picto-text-#{$name} {
    @include apply-text-style($name);
  }
}

@each $tag, $style in $heading-map {
  #{$tag} {
    @extend .picto-text-#{$style};
  }
}

p {
  @extend .picto-text-body-md;
}

h1,
h2,
h3,
h4,
h5,
h6,
.picto-text-display-lg,
.picto-text-display-md,
.picto-text-display-sm,
.picto-text-headline-lg,
.picto-text-headline-md,
.picto-text-headline-sm,
.picto-text-title-lg,
.picto-text-title-md,
.picto-text-title-sm {
  font-family: var(--picto-font-display);
}

p,
.picto-text-label-lg,
.picto-text-label-md,
.picto-text-label-sm,
.picto-text-body-lg,
.picto-text-body-md,
.picto-text-body-sm {
  font-family: var(--picto-font-sans);
}

b,
strong {
  font-weight: var(--picto-font-weight-bold);
  @include text-colors;
}

@include text-align(right);
@include text-align(center);
@include text-align(left);
@include text-align(justify);
