@use 'sass:map';
@use './variables/colors';
@use './variables/elevation';
@use './variables/font-stack';
@use './variables/font-weight';
@use './variables/letter-spacing';
@use './variables/line-height';
@use './variables/motion';
@use './variables/radius';
@use './variables/shapes';
@use './variables/spacing';
@use './variables/text-tokens';

@mixin generate-text-vars($name, $map) {
  --picto-text-#{$name}: #{map.get($map, size)};
  --picto-text-#{$name}-line-height: #{map.get($map, line-height)};
  --picto-text-#{$name}-weight: #{map.get($map, weight)};
  --picto-text-#{$name}-tracking: #{map.get($map, tracking)};
}

:root {
  /* Font Stack */
  @each $name, $value in font-stack.$fonts {
    --picto-font-#{$name}: #{$value};
  }

  /* Font Weight */
  @each $name, $value in font-weight.$font-weights {
    --picto-font-weight-#{$name}: #{$value};
  }

  /* Letter Spacing */
  --picto-letter-spacing-tight: #{letter-spacing.$letter-spacing-tight};
  --picto-letter-spacing-normal: #{letter-spacing.$letter-spacing-normal};
  --picto-letter-spacing-wide: #{letter-spacing.$letter-spacing-wide};
  --picto-letter-spacing-wider: #{letter-spacing.$letter-spacing-wider};

  /* Line Height */
  --picto-line-height-tight: #{line-height.$line-height-tight};
  --picto-line-height-normal: #{line-height.$line-height-normal};
  --picto-line-height-relaxed: #{line-height.$line-height-relaxed};

  /* Spacing */
  @each $name, $value in spacing.$spacing-semantic {
    --picto-space-#{$name}: #{$value};
  }

  /* Radius */
  @each $name, $value in radius.$radius-semantic {
    --picto-radius-#{$name}: #{$value};
  }

  /* Shapes */
  @each $name, $value in shapes.$shape-semantic {
    --picto-shape-#{$name}: #{$value};
  }

  /* Elevation */
  @each $name, $value in elevation.$elevation-semantic {
    --picto-elevation-#{$name}: #{$value};
  }

  /* Motion */
  @each $name, $transition in motion.$motion-transition-semantic {
    --picto-motion-#{$name}-duration: #{map.get($transition, duration)};
    --picto-motion-#{$name}-easing: #{map.get($transition, easing)};
  }

  /* Colors */
  --picto-color-black: #{colors.$color-black};
  --picto-color-white: #{colors.$color-white};
  @each $color-name, $color-scale in colors.$colors {
    @each $weight, $value in $color-scale {
      --picto-color-#{$color-name}-#{$weight}: #{$value};
    }
  }

  /* Text */
  @each $name, $token in text-tokens.$text-styles {
    @include generate-text-vars($name, $token);
  }

  /* Text Colors */
  --picto-text-light: var(--picto-color-white);
  --picto-text-dark: var(--picto-color-black);
  --picto-text-primary: var(--picto-color-primary-500);
  --picto-text-accent: var(--picto-color-accent-500);
  --picto-text-tonal: var(--picto-color-tonal-500);
  --picto-text-error: var(--picto-color-error-500);
  --picto-text-success: var(--picto-color-success-500);
  --picto-text-info: var(--picto-color-info-500);
  --picto-text-warning: var(--picto-color-warning-500);
  --picto-text-neutral: var(--picto-color-neutral-500);
}
