@use 'sass:map';
@use '../variables/colors' as colors;
@use '../variables/typography' as typography;

/**
 * Typography Component Styles
 * Text styling with size, weight, alignment, and color variants
 */

// Size variants
@each $size in map.keys(typography.$typography-scale) {
  .picto-text-#{$size} {
    $config: map.get(typography.$typography-scale, $size);

    font-size: map.get($config, font-size);
    font-weight: map.get($config, font-weight);
    line-height: map.get($config, line-height);
    letter-spacing: map.get($config, letter-spacing);
  }
}

// Weight variants
@each $weight in map.keys(typography.$font-weight-scale) {
  .picto-text-#{$weight} {
    font-weight: map.get(typography.$font-weight-scale, $weight);
  }
}

// Line height variants
@each $height in map.keys(typography.$line-height-scale) {
  .picto-text-#{$height} {
    line-height: map.get(typography.$line-height-scale, $height);
  }
}

// Letter spacing variants
@each $spacing in map.keys(typography.$letter-spacing-scale) {
  .picto-text-#{$spacing} {
    letter-spacing: map.get(typography.$letter-spacing-scale, $spacing);
  }
}

// Alignment variants
.picto-text-left {
  text-align: left;
}

.picto-text-center {
  text-align: center;
}

.picto-text-right {
  text-align: right;
}

.picto-text-justify {
  text-align: justify;
}

// Italic variant
.picto-text-italic {
  font-style: italic;
}

// Color variants (using semantic colors)
@each $color in colors.$color-token-names {
  .picto-text-#{$color} {
    color: colors.semantic-token('on-#{$color}');
  }
}
